/* Search Bar */
#searchBar {
    -fx-background-color: white; 
    -fx-background-radius: 10px;
    -fx-border-color: #e5e7eb;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-padding: 12px 12px 12px 40px;
    -fx-text-fill: #1f2937; 
    -fx-font-size: 14px; 
    -fx-prompt-text-fill: #9ca3af;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 2, 0, 0, 2);
    -fx-background-image: url("img/search-icon.png");
    -fx-background-size: 20px 20px; /* Width and height */
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15px center; /* Adjust if needed */
    -fx-padding-left: 35px; /* Add extra padding for the icon */
    -fx-translate-y: -50%; /* Vertically center the icon */

}

#searchBar:focused {
    -fx-border-color: #1f2937; 
    -fx-border-width: 1px;
    -fx-outline: none;
}

/* Search proposals */
.searchProps {
    -fx-background-color: white;
    -fx-border-color: #1f2937;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.cityNameLabel {
    -fx-padding: 5px 10px 5px 40px;
}

.cityNamePane {
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-pref-width: 400px;
    -fx-cursor: hand;
}


/* Search Button */
.button {
    -fx-background-color: #2563eb; /* Blue background */
    -fx-text-fill: white; 
    -fx-border-color: transparent;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-padding: 10px 20px;   
    -fx-font-size: 14px; 
    -fx-cursor: hand; 
}

.button:hover {
    -fx-background-color: #1d4ed8; /* Slightly darker blue on hover */
}

.button:pressed {
    -fx-background-color: #1e40af; /* Even darker blue when pressed */
}

.separator {
    -fx-background-color: black; /* Example: change color to red */
    -fx-padding: 0.5px;         /* Example: add some padding */
}

.separator .line {
    -fx-background-color: black;
    -fx-pref-height: 5;
    -fx-border-color: null ;
}

.header {
    -fx-background-color: #394e51; 
    -fx-border-color: black; 
    -fx-border-width: 0 0 3 0;
}



.numero {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-padding: 5 10;
    -fx-background-radius: 5 0 5 0;
}

.ville {
    -fx-background-color: lightgray;
    -fx-padding: 5 10;
    -fx-background-radius: 5 0 5 0;
    -fx-min-width: 300;
    -fx-max-height: 10;
}

.rankTitle {
    -fx-background-color: #354a4e;
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-padding: 5 13;
    -fx-background-radius: 20 20 20 20;

}


.tab-pane .tab {
    -fx-background-radius: 10; /* Rounded corners */
    -fx-background-color: #dddddd; /* Light background color for the tab */
    -fx-padding: 5; /* Padding inside the tab */
    -fx-border-color: transparent; /* Remove default border */
}

.tab-pane .tab-label {
    -fx-font-size: 10pt; /* Bigger text */
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Text color */
}

.tab-pane .tab:hover {
    -fx-background-color: #bbbbbb; /* Background color when hovered */
}

.tab-pane .tab:selected {
    -fx-background-color: #858585; /* Background color when selected */
    -fx-border-color: transparent; /* Remove default border */
    -fx-border-width: 0; /* Ensure no border width */
    -fx-background-insets: 0; /* Remove any background insets */
}

.tab-pane .tab:selected .tab-label {
    -fx-text-fill: #ffffff; /* Text color when selected */
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0; /* Remove default focus indicator */
}


.loginField {
    -fx-background-color: white; 
    -fx-border-color: white white black white;
    -fx-border-width: 1px;
    -fx-padding: 12px 12px 12px 40px;
    -fx-text-fill: #1f2937; 
    -fx-font-size: 14px; 
    -fx-prompt-text-fill: #9ca3af;
    -fx-background-size: 20px 20px; /* Width and height */
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15px center; /* Adjust if needed */

}

#userField {
    -fx-background-image: url("img/user-icon.png");
}

.passField {
    -fx-background-image: url("img/lock-icon.png");
}

#showPasswordIcon {
    -fx-background-color: white; 
    -fx-border-color: white white black white;
    -fx-border-width: 1px;
}

.check-box > .box {
    -fx-border-color: black;
    /* -fx-border: 10px; */
    -fx-border-radius: 2px;
    -fx-background-color: white;
}